# Vectorizing Plato's Dialogues
## Iris Wu (iw5hte@virginia.edu) DS 5001 Spring 2023

## End goal of this notebook:
Produce a vector representation of the corpus to generate TFIDF values to add to the TOKEN (aka CORPUS) and VOCAB tables (F4).

### Setting up necessary tools:

Importing useful packages -

In [25]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import nltk

Defining useful filepaths for reading and outputting data -

In [26]:
data_in = 'data/output'
data_out = 'data/output'
data_prefix = 'plato'

Setting useful configurations -

In [27]:
OHCO = ['book_id', 'chap_id', 'para_num', 'sent_num', 'token_num']
SENTS = OHCO[:4]
PARAS = OHCO[:3]
CHAPS = OHCO[:2]
BOOKS = OHCO[:1]

In [28]:
bag = CHAPS

### Importing the data -

In [29]:
LIB = pd.read_csv(f"{data_in}/{data_prefix}-LIB.csv").set_index(BOOKS)
TOKEN = pd.read_csv(f'{data_in}/{data_prefix}-CORPUS.csv').set_index(OHCO).dropna()
VOCAB = pd.read_csv(f'{data_in}/{data_prefix}-VOCAB.csv').set_index('term_str').dropna()
POS_GROUP = pd.read_csv(f'{data_in}/{data_prefix}-POS_GROUP.csv').set_index('pos_group')

### Defining useful functions to create a bag of words and calculate TF IDF

In [30]:
def make_bow(corp, b):
    cats = b + ['term_str']
    BOW = corp.groupby(by=cats).term_str.count().to_frame('n') 
    return BOW

In [31]:
def calc_TFIDF(bow, measure):
    DTCM = bow.n.unstack().fillna(0).astype('int')
    DF = DTCM.astype('bool').sum()
    print('TF method:', measure)
    if measure == 'sum':
        TF = DTCM.T / DTCM.T.sum()
    elif measure == 'max':
        TF = DTCM.T / DTCM.T.max()
    elif measure == 'log':
        TF = np.log2(1 + DTCM.T)
    elif measure == 'raw':
        TF = DTCM.T
    elif measure == 'double_norm':
        TF = DTCM.T / DTCM.T.max()
    elif measure == 'binary':
        TF = DTCM.T.astype('bool').astype('int')
    TF = TF.T
    DF = DTCM.astype('bool').sum()
    N = DTCM.shape[0]
    IDF = np.log2(N / DF)
    TFIDF = TF * IDF
    return [DF, IDF, TFIDF]

### Calculating TFIDF with sum

In [32]:
bow = make_bow(TOKEN, bag)
tf_idf_agg = calc_TFIDF(bow, 'sum')
tf_idf = tf_idf_agg[2]
df = tf_idf_agg[0]
idf = tf_idf_agg[1]
tf_idf

TF method: sum

term_str                1       10       100     10000        11        12  \
book_id chap_id
1497    1        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
        2        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
        3        0.000000  0.00000  0.000000  0.000000  0.000417  0.000303
        4        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
        5        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
        6        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
        7        0.000215  0.00000  0.000000  0.000000  0.000000  0.000000
        8        0.000440  0.00000  0.003031  0.000514  0.000000  0.000000
        9        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
        10       0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
1571    1        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
1572    1        0.000723  0.00000  0.000000  0.000000  0.000000  0.000000
        2        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
        3        0.004467  0.00000  0.000000  0.000000  0.000000  0.000759
        4        0.003378  0.00000  0.000000  0.000000  0.000000  0.000000
        5        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
        6        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
        7        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
        8        0.000841  0.00014  0.000000  0.000000  0.000000  0.000000
1579    1        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
1580    1        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
1584    1        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
1591    1        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
1598    1        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
1600    1        0.000112  0.00000  0.000000  0.000000  0.000000  0.000000
1616    1        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
1635    1        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
1636    1        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
1642    1        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
1643    1        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
1656    1        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
1657    1        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
1658    1        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
1672    1        0.000069  0.00000  0.000000  0.000000  0.000000  0.000000
1673    1        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
1676    1        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
1677    1        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
1681    1        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
1682    1        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
1687    1        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
1726    1        0.000079  0.00000  0.000000  0.000000  0.000000  0.000000
1735    1        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
1738    1        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
1744    1        0.000106  0.00000  0.000000  0.000000  0.000000  0.000000
1750    1        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
        2        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
        3        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
        4        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
        5        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
        6        0.000000  0.00000  0.000508  0.000000  0.000000  0.000563
        7        0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
        8        0.000000  0.00000  0.000380  0.000000  0.000000  0.000000
        9        0.000000  0.00000  0.000277  0.000000  0.000000  0.000000
        10       0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
        11       0.000000  0.00000  0.000000  0.000000  0.000000  0.000000
        12       0.000000  0.00000  0.000000  0.000000  0.000000  0.000000

term_str              120      1248     13927       151  ...      zeus  \
book_id chap_id                                          ...
1497    1        0.000000  0.000000  0.000000  0.000000  ...  0.000000
        2        0.000000  0.000000  0.000000  0.000000  ...  0.000339
        3        0.000000  0.000000  0.000000  0.000000  ...  0.000201
        4        0.000000  0.000000  0.000000  0.000000  ...  0.000000
        5        0.000000  0.000000  0.000000  0.000000  ...  0.000040
        6        0.000000  0.000000  0.000000  0.000000  ...  0.000000
        7        0.000000  0.000000  0.000000  0.000000  ...  0.000000
        8        0.000000  0.000000  0.000000  0.000000  ...  0.000049
        9        0.000000  0.000000  0.000000  0.000000  ...  0.000062
        10       0.000000  0.000000  0.000000  0.000000  ...  0.000048
1571    1        0.000000  0.000000  0.000000  0.000000  ...  0.000082
1572    1        0.000000  0.000000  0.000000  0.000000  ...  0.000041
        2        0.000000  0.003018  0.003018  0.000000  ...  0.000145
        3        0.000864  0.000000  0.000000  0.000000  ...  0.000000
        4        0.000000  0.000000  0.000000  0.000000  ...  0.000253
        5        0.000000  0.000000  0.000000  0.000000  ...  0.000000
        6        0.000000  0.000000  0.000000  0.000000  ...  0.000000
        7        0.000000  0.000000  0.000000  0.000000  ...  0.000000
        8        0.000116  0.000000  0.000000  0.000000  ...  0.000014
1579    1        0.000000  0.000000  0.000000  0.000000  ...  0.000061
1580    1        0.000000  0.000000  0.000000  0.000000  ...  0.000052
1584    1        0.000000  0.000000  0.000000  0.000000  ...  0.000000
1591    1        0.000000  0.000000  0.000000  0.000000  ...  0.000146
1598    1        0.000000  0.000000  0.000000  0.000000  ...  0.000282
1600    1        0.000000  0.000000  0.000000  0.000000  ...  0.000126
1616    1        0.000000  0.000000  0.000000  0.000000  ...  0.000140
1635    1        0.000000  0.000000  0.000000  0.000000  ...  0.000000
1636    1        0.000000  0.000000  0.000000  0.000000  ...  0.000193
1642    1        0.000000  0.000000  0.000000  0.000000  ...  0.000329
1643    1        0.000000  0.000000  0.000000  0.000000  ...  0.000044
1656    1        0.000000  0.000000  0.000000  0.000000  ...  0.000098
1657    1        0.000000  0.000000  0.000000  0.000000  ...  0.000000
1658    1        0.000000  0.000000  0.000000  0.000000  ...  0.000000
1672    1        0.000000  0.000000  0.000000  0.000162  ...  0.000094
1673    1        0.000000  0.000000  0.000000  0.000000  ...  0.000092
1676    1        0.000000  0.000000  0.000000  0.000000  ...  0.000189
1677    1        0.000000  0.000000  0.000000  0.000000  ...  0.000202
1681    1        0.000000  0.000000  0.000000  0.000000  ...  0.000174
1682    1        0.000000  0.000000  0.000000  0.000000  ...  0.000000
1687    1        0.000000  0.000000  0.000000  0.000000  ...  0.000000
1726    1        0.000000  0.000000  0.000000  0.000000  ...  0.000000
1735    1        0.000000  0.000000  0.000000  0.000000  ...  0.000025
1738    1        0.000000  0.000000  0.000000  0.000000  ...  0.000024
1744    1        0.000000  0.000000  0.000000  0.000000  ...  0.000072
1750    1        0.000000  0.000000  0.000000  0.000000  ...  0.000309
        2        0.000000  0.000000  0.000000  0.000000  ...  0.000060
        3        0.000000  0.000000  0.000000  0.000000  ...  0.000052
        4        0.000000  0.000000  0.000000  0.000000  ...  0.000000
        5        0.000000  0.000000  0.000000  0.000000  ...  0.000116
        6        0.000000  0.000000  0.000000  0.000000  ...  0.000149
        7        0.000000  0.000000  0.000000  0.000000  ...  0.000000
        8        0.000000  0.000000  0.000000  0.000000  ...  0.000223
        9        0.000000  0.000000  0.000000  0.000000  ...  0.000041
        10       0.000000  0.000000  0.000000  0.000000  ...  0.000000
        11       0.000000  0.000000  0.000000  0.000000  ...  0.000089
        12       0.000000  0.000000  0.000000  0.000000  ...  0.000167

term_str         zeuxippus    zeuxis    zodiac      zone     zones   zopyrus  \
book_id chap_id
1497    1         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
        2         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
        3         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
        4         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
        5         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
        6         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
        7         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
        8         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
        9         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
        10        0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1571    1         0.000000  0.000000  0.000000  0.005132  0.007699  0.000000
1572    1         0.000000  0.000000  0.000350  0.000000  0.000000  0.000000
        2         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
        3         0.000000  0.000000  0.000864  0.000000  0.000000  0.000000
        4         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
        5         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
        6         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
        7         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
        8         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1579    1         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1580    1         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1584    1         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1591    1         0.000505  0.000000  0.000000  0.000000  0.000000  0.000000
1598    1         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1600    1         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1616    1         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1635    1         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1636    1         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1642    1         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1643    1         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1656    1         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1657    1         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1658    1         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1672    1         0.000000  0.000324  0.000000  0.000000  0.000000  0.000000
1673    1         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1676    1         0.000000  0.000000  0.000000  0.000000  0.000000  0.000392
1677    1         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1681    1         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1682    1         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1687    1         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1726    1         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1735    1         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1738    1         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1744    1         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1750    1         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
        2         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
        3         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
        4         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
        5         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
        6         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
        7         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
        8         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
        9         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
        10        0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
        11        0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
        12        0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

term_str         zoroaster     zosin     zugon
book_id chap_id
1497    1         0.000000  0.000000  0.000000
        2         0.000000  0.000000  0.000000
        3         0.000000  0.000000  0.000000
        4         0.000000  0.000000  0.000000
        5         0.000000  0.000000  0.000000
        6         0.000000  0.000000  0.000000
        7         0.000000  0.000000  0.000000
        8         0.000000  0.000000  0.000000
        9         0.000000  0.000000  0.000000
        10        0.000000  0.000000  0.000000
1571    1         0.000000  0.000000  0.000000
1572    1         0.000000  0.000000  0.000000
        2         0.000000  0.000000  0.000000
        3         0.000000  0.000000  0.000000
        4         0.000000  0.000000  0.000000
        5         0.000000  0.000000  0.000000
        6         0.000000  0.000000  0.000000
        7         0.000000  0.000000  0.000000
        8         0.000000  0.000000  0.000000
1579    1         0.000000  0.000000  0.000000
1580    1         0.000000  0.000000  0.000000
1584    1         0.000000  0.000000  0.000000
1591    1         0.000000  0.000000  0.000000
1598    1         0.000000  0.000000  0.000000
1600    1         0.000000  0.000000  0.000000
1616    1         0.000000  0.000243  0.000728
1635    1         0.000000  0.000000  0.000000
1636    1         0.000000  0.000000  0.000000
1642    1         0.000000  0.000000  0.000000
1643    1         0.000000  0.000000  0.000000
1656    1         0.000000  0.000000  0.000000
1657    1         0.000000  0.000000  0.000000
1658    1         0.000000  0.000000  0.000000
1672    1         0.000000  0.000000  0.000000
1673    1         0.000000  0.000000  0.000000
1676    1         0.000392  0.000000  0.000000
1677    1         0.000000  0.000000  0.000000
1681    1         0.000000  0.000000  0.000000
1682    1         0.000000  0.000000  0.000000
1687    1         0.000000  0.000000  0.000000
1726    1         0.000000  0.000000  0.000000
1735    1         0.000000  0.000000  0.000000
1738    1         0.000000  0.000000  0.000000
1744    1         0.000000  0.000000  0.000000
1750    1         0.000000  0.000000  0.000000
        2         0.000000  0.000000  0.000000
        3         0.000000  0.000000  0.000000
        4         0.000000  0.000000  0.000000
        5         0.000000  0.000000  0.000000
        6         0.000000  0.000000  0.000000
        7         0.000000  0.000000  0.000000
        8         0.000000  0.000000  0.000000
        9         0.000000  0.000000  0.000000
        10        0.000000  0.000000  0.000000
        11        0.000000  0.000000  0.000000
        12        0.000000  0.000000  0.000000

[56 rows x 17139 columns]

### Adding TFIDF data to other DataFrames

In [33]:
bow['tfidf'] = tf_idf.stack()
bow

                            n     tfidf
book_id chap_id term_str
1497    1       a         213  0.000000
                abiding     1  0.000190
                able       13  0.000172
                abler       1  0.000390
                abode       1  0.000261
...                       ...       ...
1750    12      yourself    1  0.000039
                youth       2  0.000057
                youths      1  0.000135
                zeal        1  0.000210
                zeus        4  0.000167

[103165 rows x 2 columns]

Adding TFIDF data to VOCAB table -

In [34]:
VOCAB['tfidf_mean'] = bow.groupby('term_str').tfidf.mean()
VOCAB['tfidf_sum'] = tf_idf.sum()
VOCAB['tfidf_median'] = bow.groupby('term_str').tfidf.median()
VOCAB['tfidf_max'] = tf_idf.max()
VOCAB['df'] = df
VOCAB['idf'] = idf
VOCAB['dfidf'] = VOCAB.df * VOCAB.idf
VOCAB = VOCAB.sort_values(['tfidf_sum'], ascending=False)
VOCAB = VOCAB.dropna()
VOCAB

,n,p,i,n_chars,cat_pos,max_pos,stop,stem_porter,stem_snowball,stem_lancaster,n_pos,tfidf_mean,tfidf_sum,tfidf_median,tfidf_max,df,idf,dfidf
term_str,,,,,,,,,,,,,,,,,,
socrates,5337,0.007224,7.113013,8,"{'MD', 'IN', 'NNPS', 'PDT', 'NNP', 'NN', 'POS'...",NNP,0,socrat,socrat,socr,16,0.004553,0.177549,0.001816,0.017516,39,0.521953,20.356155
alcibiades,612,0.000828,10.237438,10,"{'IN', 'NNP', 'NN', 'POS', 'VBP', 'VBZ', 'NNS'...",NNP,0,alcibiad,alcibiad,alcibiad,9,0.027458,0.164746,0.002359,0.104657,6,3.222392,19.334355
theaetetus,1100,0.001489,9.391538,10,"{'IN', 'NNP', 'NN', 'POS', 'VBP', 'VB', 'VBN',...",NNP,0,theaetetu,theaetetus,theaetet,9,0.041168,0.164672,0.030031,0.103966,4,3.807355,15.229420
protarchus,619,0.000838,10.221031,10,"{'NNP', 'NN', 'VBZ', 'VB', 'NNS', 'VBN'}",NNP,0,protarchu,protarchus,protarch,6,0.153635,0.153635,0.153635,0.153635,1,5.807355,5.807355
cleinias,946,0.001280,9.609130,8,"{'IN', 'PDT', 'NNP', 'NN', 'VB', 'VBN'}",NNP,0,cleinia,cleinia,cleinia,6,0.008232,0.139937,0.006393,0.020605,17,1.719892,29.238165
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
all,3694,0.005000,7.643858,3,"{'IN', 'PDT', 'DT', 'CD', 'NNP', 'NN', 'POS', ...",DT,1,all,all,al,16,0.000000,0.000000,0.000000,0.000000,56,0.000000,0.000000
in,13321,0.018031,5.793412,2,"{'IN', 'CD', 'POS', 'NN', 'NNP', 'VBP', 'VB', ...",IN,1,in,in,in,10,0.000000,0.000000,0.000000,0.000000,56,0.000000,0.000000
some,1293,0.001750,9.158320,4,"{'DT', 'CD', 'NN', 'NNS', 'VB', 'JJ'}",DT,1,some,some,som,6,0.000000,0.000000,0.000000,0.000000,56,0.000000,0.000000
we,5200,0.007038,7.150530,2,"{'NNP', 'NN', 'POS', 'VBP', 'VBD', 'VBZ', 'VB'...",PRP,1,we,we,we,11,0.000000,0.000000,0.000000,0.000000,56,0.000000,0.000000
out,967,0.001309,9.577454,3,"{'MD', 'IN', 'NNP', 'NN', 'VBP', 'NNS', 'VB', ...",IN,1,out,out,out,12,0.000000,0.000000,0.000000,0.000000,56,0.000000,0.000000

Adding TFIDF data to TOKENS table -

In [37]:
TOKEN = TOKEN.reset_index().set_index(['book_id', 'chap_id', 'term_str'])
TOKEN['tfidf'] = tf_idf.stack()
TOKEN = TOKEN.reset_index().set_index(['book_id', 'chap_id', 'para_num', 'sent_num', 'token_num'])
TOKEN

                                              term_str            pos_tuple  \
book_id chap_id para_num sent_num token_num
1497    1       1        0        0                  i         ('I', 'PRP')
                                  1               went      ('went', 'VBD')
                                  2               down       ('down', 'RB')
                                  3          yesterday  ('yesterday', 'NN')
                                  4                 to         ('to', 'TO')
...                                                ...                  ...
1750    12      127      0        5              ebook     ('EBook', 'NNP')
                                  6                 of         ('of', 'IN')
                                  7               laws     ('Laws,', 'NNP')
                                  8                 by         ('by', 'IN')
                                  9              plato     ('Plato', 'NNP')

                                             pos  token_str pos_group  \
book_id chap_id para_num sent_num token_num
1497    1       1        0        0          PRP          I        PR
                                  1          VBD       went        VB
                                  2           RB       down        RB
                                  3           NN  yesterday        NN
                                  4           TO         to        TO
...                                          ...        ...       ...
1750    12      127      0        5          NNP      EBook        NN
                                  6           IN         of        IN
                                  7          NNP      Laws,        NN
                                  8           IN         by        IN
                                  9          NNP      Plato        NN

                                                tfidf
book_id chap_id para_num sent_num token_num
1497    1       1        0        0          0.002478
                                  1          0.000196
                                  2          0.000124
                                  3          0.000133
                                  4          0.000000
...                                               ...
1750    12      127      0        5          0.000091
                                  6          0.000000
                                  7          0.001053
                                  8          0.000000
                                  9          0.000064

[738801 rows x 6 columns]

### Outputting all the tables as csvs -

In [38]:
LIB.to_csv(f'{data_out}/{data_prefix}-LIB.csv')
VOCAB.to_csv(f'{data_out}/{data_prefix}-VOCAB-CHAP.csv')
TOKEN.to_csv(f'{data_out}/{data_prefix}-CORPUS-CHAP.csv')
bow.to_csv(f'{data_out}/{data_prefix}-BOW-CHAP.csv')